// Colors

$primary : #D3D3D3;
$secondary : #BA181B;
$tertiary : #161a1d;
$quaternary: #444141;
$red-hover : #E5383B;

// Typography

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// Shadows

$box-shadow: 1px 13px 19px -6px rgba(0, 0, 0, 0.75);

// Margins

$margin-xs: 0.5rem;
$margin-s: 1rem;
$margin-m: 1.5rem;
$margin-l: 2rem;
$margin-xl: 2.5rem;

// Paddings

$padding-xs: 0.5rem;
$padding-s: 1rem;
$padding-m: 1.5rem;
$padding-l: 2rem;
$padding-xl: 2.5rem;

// Border radius:

$border-rounded: 0.2rem;
$border-circle: 50%;
$border-pill: 0.6rem;

